{erl_opts, [debug_info]}.
{deps, [
    {jiffy, {git, "https://github.com/davisp/jiffy.git", {tag, "0.15.2"}}},
    {emongo, ".*", {git, "git://github.com/jkvor/emongo.git", {branch, "master"}}},
    {hackney, ".*", {git, "git://github.com/benoitc/hackney.git", {branch, "master"}}}

]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [words]}
]}.
